html,body{
	height:100%;
	margin:0;
	padding:0;
	background-color: gray;
	font-family: Comfortaa;
}

#top-row-container{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#invisible-flex-item{
width:75px;
}

.quote-container{
  display:flex;
  flex-direction:column;
}

.quote-style{
  text-align:center;
  font-size:20px;
  color:#fff;
  font-family:Josefin Sans;
  align-self:center;
}

.quote{padding:15px;}

.author{
  font-size:15px;
  font-style:italic;
}

#clock {
  font-family: "Josefin Sans", sans-serif;
  font-size: 800%;
  position: absolute;
  left: 50%;
  top: 25%;
  color:white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 15px #000;
}

#phrase {
  font-family: "Josefin Sans", sans-serif;
  font-size: 300%;
  position: absolute;
  left: 50%;
  top: 60%;
  color:white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 15px #000;
}

#setting {
  background:none;
  position:absolute;
  bottom: 0;
  left:0;
  padding:5px 15px 0px 15px;
  border:0;
  cursor:pointer;
  outline:none;
  z-index:56;
  opacity: 1;
  color:white;
  height:10%;
  border-bottom: 2px solid grey;

}

#setting:hover {
  border-bottom: 2px solid white;
}

#menu {
  background-color: rgba(0,0,0,0.9);
  width:30%;
  height:60vh;
  position:absolute;
  bottom:10vh;
  color:white;
  -moz-border-radius: 2%;
  border-radius: 2%;
  z-index: 55;
}

#menu ul {
	padding-left: 0;
}
#menu ul li {
  font-family:"Josefin Sans", "arial";
  font-size: 100%;
  list-style-type: none;
}

#menu ul p {
	display:inline-block;
	width:50%;
}

#menutitle {
  display: block;
  text-align:left;
  font-family: "Josefin Sans", "arial";
  font-weight: bold;
  font-size: 180%;
  padding:0px;
  margin-bottom: 0;
}

input[placeholder] {
	text-overflow: ellipsis;
  }

#wrapperTitles {
width: 30%;
height:45vh;
display: inline-block;
margin-top: 10%;
margin-left:5%;
border-right: 1px solid rgba(255, 255, 255, .5);
}

#wrapperTitles ul li {
	margin-top:10%;
	color:rgb(207, 205, 205);
}

#wrapperTitles ul li:hover {
	color:white;
	cursor:pointer;
}

#wrapperSettingsContent {
width: 60%;
float: right;

}

#menu #generalMenu input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

#menu label {
	cursor: pointer;
	width: 15%;
	height: 3vh;
	background: #666666;
	display: block;
	border-radius: 100px;
	position: relative;
	display:inline-block;
}

#menu label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.3);
	border-radius: 90px;
	transition: 0.3s;
}

#menu input:checked + label {
	background: #d4d3d3;
}

#menu input:checked + label:after {
	left: calc(100% - 3%);
	transform: translateX(-100%);
	background: white;
	width: 55%;
	height: 100%;
	
}

#menu label:active:after {
	width: 50%;
}


#clearSettings {
	padding:5px 15px; background:rgb(255, 255, 255); border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
	border-radius: 5px; 
	margin-top:2vh;
}

#menu input[type=text] {
	padding:5px; border:2px solid rgb(255, 255, 255); 
		-webkit-border-radius: 5px;
			border-radius: 5px;
	margin-bottom: 2vh;
}

#balanceMenu .contentBalance {
font-size: 70%;
}

#balanceMenu {
	width: 80%;
}

.BalanceHours  {
	display: inline-block;
}

.balanceTitle {
	font-weight: bold;
}

#EnableBalance {
	display: inline-block;
	font-weight: bold;
}


#current-weather-wrapper{
	color:white;
	opacity: 0.5;
	font-size: 15px;
	border-top: 3px solid grey;
}

#current-weather-wrapper:hover{
	color:white;
	cursor:pointer;
	border-top: 3px solid white;
	opacity: 1;
}

img{
	width:50px;
	height:50px;
}


#wm-icon,#wm-temp,#wm-top-row{
		display: inline;
}

#wm-location{
	position: relative;
	bottom:8px;
	padding-left: 8px;
}

#wm-temp{
	font-size: 20px;
	position: relative;
	bottom:15px;
	right:5px;
}

#forecast-wrapper{
	z-index: 1;
	right:-550px;
	padding-bottom: 20px;
	color:white;
	font-size: 12px;
	position:fixed;
	width:450px;
	background-color: rgba(0, 0, 0, 0.9);
	top: 120px;
	border-radius: 5px;
}

#wm-forecast-title{
	padding: 10px;
	text-align: left;
	margin-left:12px;
	font-size: 25px;

}

#forecast-data{
	display:table;
	width:90%;
	border-top: 2px solid white;
	margin:auto;
}

.cell{
	display: table-cell;
	width:110px;
	text-align: center;
	font-size: 13px;
}

.table-row img{
	position: relative;
	width:40px;
	height:30px;
	top:10px;
}

.table-row{
	width:100%;
}

.days{
	display:table-cell;
	font-size: 12px;

}

.weather-slide-in{
	animation-name: weather-slide-in;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

@keyframes weather-slide-in{
	from{right:-600px;}
	to{right:0%;}
}

.weather-slide-out{
	animation-name: weather-slide-out;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

@keyframes weather-slide-out{
	from{right:0%;}
	to{right:-600px;}
}

@media (max-width:1100px){
	#clock{
		font-size: 600%;
	}

	#phrase{
		font-size:250%;
		top: 50%;
	}

}

@media (max-width:900px){
	#clock{
		font-size: 550%;
	}

	#phrase{
		font-size:200%;
		top: 50%;
	}

}

@media (max-width:750px){
	#clock{
		font-size: 450%;
	}

	#phrase{
		font-size:150%;
		top: 45%;
	}

	#menu {
  		width:75%;
  		height:75%;

	}

}

@media (max-width:600px){
	#clock{
		font-size: 300%;
	}

	#phrase{
		font-size:100%;
		top: 40%;
	}

	#top-row-container{
		flex-direction: column;
		align-items: center;
	}

	#current-weather-wrapper{
		border-top: 0px;
	}

	#current-weather-wrapper:hover{
		border-top: 0px;
	}

	#forecast-wrapper{
		right:-600px;
		width:100%;
		height:75%;
	}


	.quote-style{
	  font-size:15px;
	}

	.author{
  		font-size:12px;
  		font-style:italic;
	}

}

@media (max-width:450px){
	#clock{
		font-size: 200%;
	}

	#phrase{
		font-size:75%;
		top: 35%;
	}

}


#toDo {
	position: absolute;
	bottom:0;
	right:0;
	cursor:pointer;
	outline:none;
	border:none;
	background: none;
	color: white;
	font-family: "Roboto", arial;
	font-weight:bold;
	font-size: 150%;
	z-index:50;
  }

  #toDo:hover {
	border-bottom: 2px solid white;
  }

  #toDoMenu {
	background-color: rgba(0,0,0,0.9);
	width:30%;
	height:80vh;
	position:absolute;
	bottom:10vh;
	color:white;
	right:0;
	-moz-border-radius: 2%;
	border-radius: 2%;
	z-index: 50;
  }

  #grayBackground {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 5;
  }

 #enterName {
	 width: 70%;
 }
  
