body {
  background-color: gray;
}


.quote-container{
  width:750px;
  margin:auto;
  margin-top:10px;
  display:flex;
  flex-direction:column;
}

.quote-style{
  text-align:center;
  font-size:20px;
  color:#fff;
  font-family:Josefin Sans;
  align-self:center;
}

.quote{padding:15px;}

.author{
  font-size:15px;
  font-style:italic;
}
